<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IcraTakipProgrami.styles.css" asp-append-version="true" />
    <style>

        .dropdown-toggle::after {
           display:none;
        }

        .btn-secondary {
            color: #fff;
            background-color: #0d6efd;
            border-color: #0d6efd;
        }

        .navbar-nav .nav-link {
            transition: color 0.3s ease, background-color 0.3s ease;
        }

        .navbar-nav .nav-item {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

            .navbar-nav .nav-item:hover {
                transform: translateY(-3px);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

        .navbar-nav .nav-link:hover {
            color: #007bff !important;
        }

        .navbar-nav .nav-item:hover .nav-link {
            font-size: 1.05em; /* Yazı büyüklüğü değişimi */
            border-bottom: 2px solid #007bff; /* Alt çizgi eklemek */
        }


    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">  
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img class="navbar-brand" asp-controller="Home" asp-action="Index" src="~/1.png" alt="Resim" width="60" height="60" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            if (User.IsInRole("Customer"))
                            {

                                <li class="nav-item" >
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Avukatlar" asp-action="index">Avukatlar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Musteriler" asp-action="index">Müşteriler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Urunler" asp-action="index">Ürünler</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Ihtarlar" asp-action="index">Ihtarlar</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="IcraTakibi" asp-action="index">Icralar</a>
                            </li>
                        }

                        @if (@User.Identity.Name == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Roles" asp-action="Index">Roles</a>
                            </li>
                        }


                    </ul>
                  <ul class="navbar-nav ms-auto" style="display: flex;">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item">
            <a class="nav-link">Merhaba, @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
</ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - IcraTakipProgrami - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
