@model IcraTakipProgrami.Models.Ihtar.IhtarCreateViewModel
@{
    <div class="container">
        <h2>İhtar Düzenle</h2>

        <form asp-controller="Ihtarlar" asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <select id="musteriDropdown" onchange="abc()" class="form-select form-select-md" asp-for="Borclu" required>
                            <option value="">Seçiniz</option>
                            @foreach (var musteri in Model.MusteriEkleListesi)
                            {
                                <option value="@musteri.Value">@musteri.Text</option>
                            }
                        </select>
                    </div>
                        <div class="mb-3">
                            <label asp-for="MusteriUrunleri" class="form-label">Ürünler</label>
                            <select id="urunDropdown" class="form-select form-select-md" asp-for="MusteriUrunleri">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>

                        <div class="mb-3">
                        <label asp-for="NoterAd" class="form-label">Noter Ad</label>
                            <input asp-for="NoterAd" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label asp-for="IhtarTarih" class="form-label">İhtar Tarih</label>
                            <input type="date" asp-for="IhtarTarih" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label asp-for="IhtarnameSuresi" class="form-label">İhtarname Suresi</label>
                            <input asp-for="IhtarnameSuresi" class="form-control" required>
                        </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="TebligTarihi" class="form-label">Tebliğ Tarihi</label>
                        <input type="date" asp-for="TebligTarihi" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IhtarTebligGirisTarih" class="form-label">İhtar Tebliğ Giris Tarih</label>
                        <input type="date" asp-for="IhtarTebligGirisTarih" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label asp-for="KatTarih" class="form-label">Kat Tarih</label>
                        <input type="date" asp-for="KatTarih" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IhtarnameNakitTutarı" class="form-label">İhtarname Nakit Tutarı</label>
                        <input asp-for="IhtarnameNakitTutarı" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IhtarnameGayriNakitTutarı" class="form-label">İhtarname Gayri Nakit Tutarı</label>
                        <input asp-for="IhtarnameGayriNakitTutarı" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <button style="margin-bottom: 40px;" type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<script>
    function abc() {
        var musteriId = document.getElementById("musteriDropdown").value;

        // AJAX isteği yap
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetUrunlerForEdit", "Ihtarlar")",
            data: { musteriId: musteriId, urunId: @Model.MusteriUrunleri },
            success: function (data) {
                var urunDropdown = document.getElementById("urunDropdown");
                urunDropdown.innerHTML = "<option value=''>Seçiniz</option>";
                data.forEach(function (urun) {
                    var option = document.createElement("option");
                    option.value = urun.value;
                    option.text = urun.text;
                    if (urun.selected) {
                        option.selected = true;
                    }
                    urunDropdown.appendChild(option);
                });
            }
        });
    }

    $(document).ready(function () {
        var musteriId = document.getElementById("musteriDropdown").value;
        abc(musteriId); // musteriId parametresini geçir
    });


</script>